page-point {

    ion-content {
        text-align: center;
    }

    .uva-marks {
        width: 100% !important;  
        height : 100% !important;  
        max-width: 25px !important;
        max-height: 35px !important;
        margin-left: 5px;
        margin-top: 5px;
    }
    
    .foo {
    }
}