page-login {

    .title-login {
        width: 100% !important;  
        height : 100% !important;
        margin-top: 10px !important;
        max-width: 75px !important;
        max-height: 35px !important;
    }

    .account-buttons {
        text-align: right;
    }

}
