page-profile {
    .uva-marks {
        width: 100% !important;  
        height : 100% !important;  
        max-width: 10% !important;
        max-height: 20% !important;
        margin-left: 5px;
    }

    .first-uva {
        margin-left: 5%;
    }
}