page-home {

    .nav-title {
        font-family: sans-serif, serif;
        font-size: 24px;
        font-weight: bold;
        color: white;
    }

    .title-borali {
        width: 100% !important;  
        height : 100% !important;
        max-width: 100px !important;
        max-height: 35px !important;
    }

    .profile-icon{
        width: 100% !important;  
        height : 100% !important;  
        max-width: 35px !important;
        max-height: 35px !important;
        border-radius: 10px;
        margin-right: 5px;
    }

    .tour-cards{
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .tour-image{
        width: 100% !important;  
        height : 100% !important;  
        //max-width: 35px !important;
        //max-height: 35px !important;
        border-radius: 5px;
    }

    .uvas {
        margin: auto;
    }

    .uva-marks {
        width: 100% !important;  
        height : 100% !important;  
        max-width: 25px !important;
        max-height: 35px !important;
        margin-left: 5px;;
    }

}
